/* Adding media queries */

@media only screen and (min-width: 980px) {
    .wrapper {
        max-width: 960px;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        max-width: 100%;
    }

    nav ul li {
        padding: 0 1em;
        display: inline;
    }

    nav ul {
        margin-right: 2em;
        display: inline;
    }
}

@media only screen and (max-width: 640px) {

    /* ---------- Pseudocode ------------
        The nav does not gracefully collapse into range of
        this viewport width.

        Ideally, the HTML would be refactored to use simple
        links instead of the ul>li>a theme it now uses.

        1. menu re-structure
            div.header
                div.wrapper
                    div.nav
                        a.menuItem
                        a.menuItem
                        a.menuItem
        
        2. css restructuring and simplification
            .menuItem {
                apply padding
                veritcally center text
                border on the right
                other styling
            }
    */
    .wrapper {
        width: 100%;
    }

    header {
        height: 200px;
    }

    header h1 {
        float: none;
        position: static;
        text-align: center;
        font-size: 1.9em;
    }

    nav ul {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-right: 25%;
    }
    nav ul li {
        margin-bottom: 1em;
    }

    .flex-container {
        flex-direction: column;
    }

    .box {
        margin: 1em auto;
    }

    .portfolioPic {
        float: none;
        display: block;
        margin: 1em auto;
    }

    p {
        text-align: justify;
    }
}